{{- if and .Values.headscale.enabled (not .Values.headscale.db.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "headscale.fullname" . }}-db
  labels:
    {{- include "headscale.labels" . | nindent 4 }}
type: Opaque
stringData:
  # For convenience, you can set these via --set-file
  {{ .Values.headscale.db.passwordKey }}: "change-me"
{{- end }}

