{{- if and .Values.headplane.enabled (not .Values.headplane.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "headscale.fullname" . }}-headplane
  labels:
    {{- include "headplane.labels" . | nindent 4 }}
type: Opaque
stringData:
  cookie_secret: "change-me"
  oidc_client_secret: "change-me"
  headscale_api_key: "change-me"
{{- end }}

