{{- if and .Values.headscale.enabled .Values.headscale.oidc.enabled (not .Values.headscale.oidc.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "headscale.fullname" . }}-oidc
  labels:
    {{- include "headscale.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ .Values.headscale.oidc.clientSecretKey }}: "change-me"
{{- end }}

