apiVersion: postgresql.cnpg.io/v1
kind: Pooler
metadata:
  name: {{ .Release.Name }}-pooler-rw
  namespace: {{ .Release.Namespace }}
spec:
  cluster:
    name: {{ .Release.Name }}
  instances: {{ .Values.pooler.replicas }}
  type: {{ .Values.pooler.type }}
  serviceTemplate:
    metadata:
      labels:
        app: {{ .Release.Name }}-pooler-rw
      {{- if .Values.pooler.service.annotations }}
      annotations:
        {{- toYaml .Values.pooler.service.annotations | nindent 8 }}
      {{- end }}
    spec:
      type: {{ .Values.pooler.service.type }}
  {{- if or .Values.pooler.nodeSelector .Values.pooler.tolerations }}
  template:
    spec:
      containers: []
      {{- if .Values.pooler.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.pooler.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.pooler.tolerations }}
      tolerations:
        {{- toYaml .Values.pooler.tolerations | nindent 8 }}
      {{- end }}
  {{- end }}
  pgbouncer:
    poolMode: {{ .Values.pooler.pgbouncer.poolMode }}
    {{- if .Values.pooler.pgbouncer.params }}
    parameters:
      {{- toYaml .Values.pooler.pgbouncer.params | nindent 6 }}
    {{- end }}
  monitoring:
    enablePodMonitor: true
