apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    release: {{ .Release.Name }}
  {{ if .Values.deploymentExtraAnnotations }}
  annotations:
    {{- range $k, $v := .Values.deploymentExtraAnnotations }}
    {{ $k }}: {{ $v | quote }}
    {{- end }}
  {{- end }}
spec:
  replicas: {{ .Values.replicas }}
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      {{ if .Values.imagePullSecret }}
      imagePullSecrets:
        - name: {{ .Values.imagePullSecret }}
      {{ end }}
      containers:
        - name: main
          image: {{  .Values.image }}
          ports:
            - name: http
              containerPort: 8000
          {{ if .Values.envFromSecretName }}
          envFrom:
            - secretRef:
                name: {{ .Values.envFromSecretName }}
          {{ end }}
          env:
            - name: PORT
              value: "8000"
          {{ if .Values.TEXT }}
            - name: "TEXT"
              value: {{ .Values.TEXT | quote }}
          {{ end }}
          {{ if .Values.TEXT_SUFFIX }}
            - name: "TEXT_SUFFIX"
              value: {{ .Values.TEXT_SUFFIX | quote }}
          {{ end }}
          {{ if .Values.COLOR }}
            - name: "COLOR"
              value: {{ .Values.COLOR | quote }}
          {{ end }}
          {{ if .Values.BACKGROUND_COLOR }}
            - name: "BACKGROUND_COLOR"
              value: {{ .Values.BACKGROUND_COLOR | quote }}
          {{ end }}
